*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      box-shadow: none !important;
      text-decoration: none !important;
      list-style: none !important;
}

body {
      font-family: system-ui, sans-serif;
      overflow-x: hidden;
}

.banner {
      width: 100%;
      font-size: 90%;
      padding: 0.5rem;
      background: linear-gradient(122deg, #9c9dcc, #0044ff77);
}

.banner .container {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
}

.subscribe {
      padding: 0.4rem 0.7rem;
      border-radius: 0.1rem;
      font-size: 80%;
      font-weight: 500;
      text-transform: uppercase;
}

.toggler .icon-toggler {
      object-fit: cover;
}

.navbar-menu-item {
      position: relative;
      padding: 0.3rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
}
.navbar-menu-item::before {
      content: "";
      position: absolute;
      height: 3px;
      border-radius: 5px;
      background: #59eea4;
      bottom: -5px;
      width: 100%;
      transition: 0.5s ease-in-out !important;
      transform: scale(0);
}
.navbar-menu-item:hover::before {
      transform: scale(1);
}
.navbar-menu-item a {
      color: black;
}

#side-bar .ball {
      top: 0;
      left: 0;
      width: 70%;
      height: 300px;
      position: absolute;
      background-color: rgba(255, 122, 255, 0.479);
      border-radius: 50%;
      z-index: -99;
      transform: translate(-50%, -50%);
}

#side-bar .ball-pink {
      bottom: 0;
      right: 0;
      transform: translate(90%, 90%);
      background-color: pink;
}

#side-bar .offcanvas-body {
      overflow: hidden;
}

#side-bar .offcanvas-body span {
      padding: 0.4rem 0.6rem;
      border-radius: 0.5rem;
      outline: 1px solid #6161e97e !important;
}
#side-bar .offcanvas-body span:hover {
      transform: scale(1.02);
      transition: 0.1s ease-in-out;
}

#side-bar .offcanvas-body span a {
      color: rgb(90, 90, 90);
}

.card-wrapper .container .card-n {
      position: relative;
}

@media (max-width: 576px) {
      .card-wrapper .container {
            display: flex !important;
            width: 100%;
            gap: 1rem;
      }
      .card-wrapper .container .card-n {
            min-width: 300px;
      }
      .banner .container span {
            font-size: 70%;
      }
      .banner .container .subscribe {
            font-size: 60%;
      }
      .text-tobe {
            font-size: 95%;
      }
      .text-tobe h2 {
            font-size: 1.1rem;
      }
}

@media (min-width: 576px) {
      .card-wrapper .container {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
      }
}

.card-n .card-header-n img {
      width: 100%;
      border-radius: 0.5rem;
      aspect-ratio: 16/9;
      filter: grayscale(100);
}

.card-n .card-header-n:hover img {
      filter: none;
}

.card-n:hover {
      transition: 0.5s ease-in-out;
      transform: translateY(-10px);
}

.card-n:hover .card-header-n .card-image-hover {
      opacity: 1;
}
.card-n:hover .card-header-n .card-image {
      opacity: 0;
}

.card-n .card-header-n .card-image,
.card-n .card-header-n .card-image-hover {
      position: absolute;
      transition: 0.5s ease-in-out;
      bottom: 0;
      display: block;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 40px;
      z-index: 2;
      background: white;
      height: 40px;
      padding: 0.3rem;
      border-radius: 50%;
      border: 1px solid gray;
}
.card-n .card-header-n .card-image-hover {
      opacity: 0;
}

.card-n .card-body-n {
      padding: 0.3rem;
      padding-top: 1rem;
      font-size: 120%;
      text-align: center;
      font-weight: 600;
}

footer .container-top {
      grid-template-columns: repeat(2, 1fr);
}

.more-information {
      gap: 1rem;
      align-items: center;
}

.more-information ul li a {
      color: gray;
      text-decoration: underline !important;
      text-underline-offset: 2px;
}

@media (max-width: 576px) {
      .more-information {
            display: flex;
            flex-direction: column;
      }
}

@media (min-width: 576px) {
      .more-information {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
      }
}
