*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      box-shadow: none !important;
      text-decoration: none !important;
      list-style: none !important;
}

body {
      font-family: system-ui, sans-serif;
}

.banner {
      width: 100%;
      font-size: 90%;
      padding: 0.5rem;
      background: linear-gradient(122deg, #9c9dcc, #0044ff77);
}

.banner .container {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
}

.subscribe {
      padding: 0.4rem 0.7rem;
      border-radius: 0.1rem;
      font-size: 80%;
      font-weight: 500;
      text-transform: uppercase;
}

.toggler .icon-toggler {
      object-fit: cover;
}

.navbar-menu-item {
      position: relative;
      padding: 0.3rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
}
.navbar-menu-item::before {
      content: "";
      position: absolute;
      height: 3px;
      border-radius: 5px;
      background: #59eea4;
      bottom: -5px;
      width: 100%;
      transition: 0.5s ease-in-out !important;
      transform: scale(0);
}
.navbar-menu-item:hover::before {
      transform: scale(1);
}
.navbar-menu-item a {
      color: black;
}

#side-bar .offcanvas-body span {
      padding: 0.4rem 0.6rem;
      border-radius: 0.5rem;
      outline: 1px solid #6161e97e !important;
}
#side-bar .offcanvas-body span:hover {
      transform: scale(1.02);
      transition: 0.1s ease-in-out;
}

#side-bar .offcanvas-body span a {
      color: rgb(90, 90, 90);
}

.card-wrapper .container .card-n {
      position: relative;
}

@media (max-width: 576px) {
      .card-wrapper .container {
            display: flex !important;
            width: 100%;
            gap: 1rem;
      }
      .card-wrapper .container .card-n {
            min-width: 300px;
      }
}

@media (min-width: 576px) {
      .card-wrapper .container {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
      }
}

.card-n .card-header-n img {
      width: 100%;
      border-radius: 0.5rem;
      aspect-ratio: 16/9;
}

.card-n .card-header-n .card-image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 40px;
      z-index: 2;
      background: white;
      height: 40px;
      padding: 0.3rem;
      border-radius: 50%;
      border: 1px solid gray;
}

.card-n .card-body-n {
      padding: 0.3rem;
      padding-top: 1rem;
      font-size: 120%;
      text-align: center;
      font-weight: 600;
}
